








@{ 
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}




<section class="call-to-action section bg-opacity bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow text-center">
                <div class="block">
                    <h2 class="subheading">@ViewBag.update.Head</h2>
                    <p>@ViewBag.update.Description</p>
                    <div class="col-lg-6 offset-lg-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address Here">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-main" type="button">Subscribe</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </div>
</section><!-- #call-to-action close -->